<div class="modal-backdrop" (click)="onClose()">
    <div class="modal-content" (click)="$event.stopPropagation()">

        <div class="modal-header">
            <h2>Detalhes do pedido</h2>
            <button class="close-btn" (click)="onClose()">
                <span class="mat-icon">close</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="detail-group full-width">
                <label>Serviço</label>
                <p class="service-name">{{ order().service }}</p>
            </div>

            <div class="detail-grid">
                <div class="detail-group">
                    <label>Cliente</label>
                    <p>{{ order().client }}</p>
                </div>
                <div class="detail-group">
                    <label>Telefone</label>
                    <p>(11) 99999-0001</p>
                </div>
                <div class="detail-group">
                    <label>Agendado para</label>
                    <p>{{ order().date }}</p>
                </div>
                <div class="detail-group">
                    <label>Valor líquido</label>
                    <p class="highlight-purple">
                        {{ (order().amount - (order().amount * 0.1)) |
                        currency:'BRL':'symbol':'1.2-2' }}
                    </p>
                </div>

                <div class="detail-group">
                    <label>Total</label>
                    <p>
                        {{ order().amount | currency:'BRL':'symbol':'1.2-2' }}
                    </p>
                </div>

                <div class="detail-group">
                    <label>Taxa (10%)</label>
                    <p>
                        {{ (order().amount * 0.1) |
                        currency:'BRL':'symbol':'1.2-2' }}
                    </p>
                </div>
            </div>

            <div class="detail-group full-width">
                <label>Status</label>

                <select
                    class="status-select outline w-full active-focus"
                    [value]="order().statusUI"
                    [disabled]="isStatusLocked()"
                    [class.locked]="isStatusLocked()"
                    (change)="onStatusChange($event)">

                    <option value="pending">Pendente</option>
                    <option value="confirmed">Confirmado</option>
                    <option value="inProgress">Em andamento</option>
                    <option value="completed">Concluído</option>
                    <option value="cancelled">Cancelado</option>
                </select>

                @if (isStatusLocked()) {
                <p class="status-locked-message">
                    Este pedido não pode mais ter o status alterado.
                </p>
                }
            </div>

        </div>

    </div>
</div>